package ${ROOT_PACKAGE}.feature.${FEATURE_NAME}.presentation.${SCREEN_PACKAGE}

import me.bookk.core.presentation.navigation.NavigationDestination

sealed class ${SCREEN_NAME}Destination : NavigationDestination() {
    data object Back : ${SCREEN_NAME}Destination()
}
