package ${ROOT_PACKAGE}.feature.${FEATURE_NAME}.presentation.di

import me.bookk.core.UsedInSwift
import org.koin.core.module.Module
import org.koin.dsl.module
import org.koin.mp.KoinPlatform

internal actual fun platform${FEATURE_NAME_CAPITAL}DiModule(): Module = module {

}
